<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex">
            <div class="filter">
                <a href="/profile"><i class="fas fa-angle-double-left"></i>Profile</a>
            </div>
        </div>

        <div class="box-nav d-flex">
            <div>
                <div>
                    Event Name : <%=  eventData.name %>
                </div>
                <div>
                    Date : <%=  eventData.eventdate%>
                </div>
            </div>
            <div class="filter">
                <p>Event Description : <%= eventData.description %></p>
            </div>
        </div>

        <div class="box-nav d-flex">
            <a href="/preparations?id=<%= eventData._id%>" class="btn border-shadow update a-preparation">
                <span>Preparations</span>
            </a>

            <a href="/add-item?id=<%= event %>" class="border-shadow">
                <span>New Item</span>
            </a>
        </div>

        <!-- form handling -->
        <form action="/" method="POST">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name of Item</th>
                        <th>Quantity</th>
                        <th>Owner</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/_showItem.ejs') %>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /Main Site -->


<!-- include footer -->
<%- include('include/_footer.ejs') %>
<!-- /include footer -->