<% for(var i = 0; i < item.length; i++) { %>
<tr class="dynamic-td">

    <td><span class="td-client-info"><%= item[i].name %></span></td>
    <td><span class="td-client-info">Qty: <%= item[i].qty %></span></td>
    <td><span class="td-client-info"><%= item[i].owner %></span></td>

    <td class="dynamic-td-btns">
        <button value="<%= item[i]._id%>" class="claimItem">
            <span>Claim</span>
        </button>
        <a href="/update-item?id=<%= item[i]._id%>" class="btn border-shadow update">
            <span>Edit</span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= item[i]._id%>>
            <span>Delete</span>
        </a>
    </td>
</tr>
<% } %>