<% for(var i = 0; i < events.length; i++) { %>
    <tr class="dynamic-td">
			<td>
                <span class="td-client-info"><%= events[i].name %></span>
                <span class="td-client-info"><%= events[i].eventdate %></span>
            </td>
        <td class="dynamic-td-btns">
					  <a href="/items?id=<%= events[i]._id%>" class="btn border-shadow update">
                <span>Open</span>
            </a>
            <a href="/invite-create?id=<%= events[i]._id%>" class="btn border-shadow update">
                <span>Share</span>
            </a>
            <a href="/update-event?id=<%= events[i]._id%>" class="btn border-shadow update">
                <span>Edit</span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= events[i]._id%> >
                <span>Delete</span>
            </a>
        </td>
    </tr>
    <% } %>